{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teachers list</h1>

    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Admin</th>
                <th>Coordinator</th>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Login</th>
                <th>Password</th>
                <th>Entrydate</th>
                <th>Leavingdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td><a href="{{ path('teacher_show', { 'id': teacher.id }) }}">{{ teacher.email }}</a></td>
                <td>{% if teacher.admin %}Yes{% else %}No{% endif %}</td>
                <td>{% if teacher.coordinator %}Yes{% else %}No{% endif %}</td>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.login }}</td>
                <td>{{ teacher.password }}</td>
                <td>{% if teacher.entryDate %}{{ teacher.entryDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if teacher.leavingDate %}{{ teacher.leavingDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('teacher_show', { 'id': teacher.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('teacher_edit', { 'id': teacher.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('teacher_new') }}">Create a new teacher</a>
        </li>
    </ul>
{% endblock %}
