{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teacher creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.login) }}
        {{ form_row(form.password) }}
        {{ form_row(form.entryDate) }}
        {{ form_row(form.email) }}
        {{ form_row(form.admin) }}
        {{ form_row(form.coordinator) }}
    <div class="displayNo">
        {{ form_row(form.leavingDate) }}
    </div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('teacher_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
