{% extends 'base.html.twig' %}

{% block body %}
<h1>Resultstudent creation</h1>
{% set i=0  %}
<form method="post" action="{{ path('resultstudent_form') }}" data-toggle="validator" id="formCreate">
   {% for quiz in quizz %}
       <label>{{ quiz.question }}</label><br>
       {% for prop in quiz.proposition %}
           <input type="radio" name="choice{{ i }}" value="{{ prop }}"> {{ prop }}<br>

       {% endfor %}
       {% set i=i+1 %}
    {% endfor %}
    <br/>
    <button type="submit">valider vos réponses</button>
</form>
{% endblock %}